nav{
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    font-size: 1.1em;
  }
  nav ul {
    display: flex;
    border-radius: 8px;
    background: #e0e0e0;
    justify-content: space-around;
    align-items: left;
  }
  nav li{
    line-height: 50px;
    list-style: none;
    font-size: 1.1em;
    height: 50px;
  }
  
  
  
  .LeftCol{
    margin-top: 5%;
    width: 50%;
    float: left;
  }
  .RightCol{
    margin-top: 5%;
    width: 50%;
    float: right;
  }
  
  .ProfileBox{
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #f4f4f4;
    margin-left: 7%;
    padding: 5%;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
  }
  
    .EducationBox{
    padding: 5%;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #f4f4f4;
    margin-left: 7%;
    margin-right: 7%;
    
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    }
  .ContactInfo{
    font-style: italic;
    font-size: 0.9em;
  }
  .NameBranding{
    font-weight: bold;
    font-size: 1.3em;
  }
  .EducationBranding{
    font-size: 1.3em;
  }
  .SkillsBranding{
    padding: 5%;
    font-size: 1.3em;
  }
  .ProfileDetails{
    
    padding: 5px;
  }
  .SkillsBox{
    margin-top: 1%;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #f4f4f4;
    margin-left: 7%;
    padding: 1%;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
  }
  .row{
    display: inline;
  }
  .SkillRow{
    display: inline;
  }
  .SkillsList{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    text-decoration: none;
    list-style: none;
  }